# Puerto para acceder a la base de datos desde el exterior (para DBeaver, etc.)
DB_PORT_EXTERNAL=
DB_PORT=

# Backend Settings
PORT=

# Frontend Settings
FRONT_PORT=

# REDIS Settings
REDIS_PORT=

# Adminer Port
ADMINER_PORT=